In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from pathlib import Path

In [2]:
data = pd.read_csv(str(Path('data/census.csv')))
data

,age,workclass,fnlgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              32561 non-null  int64
 1    workclass       32561 non-null  object
 2    fnlgt           32561 non-null  int64
 3    education       32561 non-null  object
 4    education-num   32561 non-null  int64
 5    marital-status  32561 non-null  object
 6    occupation      32561 non-null  object
 7    relationship    32561 non-null  object
 8    race            32561 non-null  object
 9    sex             32561 non-null  object
 10   capital-gain    32561 non-null  int64
 11   capital-loss    32561 non-null  int64
 12   hours-per-week  32561 non-null  int64
 13   native-country  32561 non-null  object
 14   salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

*MISSING VALUES COUNT*

In [9]:
data.isna().sum()

age                0
 workclass         0
 fnlgt             0
 education         0
 education-num     0
 marital-status    0
 occupation        0
 relationship      0
 race              0
 sex               0
 capital-gain      0
 capital-loss      0
 hours-per-week    0
 native-country    0
 salary            0
dtype: int64

*IDENTIFYING COLUMN TYPES*

In [12]:
data.dtypes

age                 int64
 workclass         object
 fnlgt              int64
 education         object
 education-num      int64
 marital-status    object
 occupation        object
 relationship      object
 race              object
 sex               object
 capital-gain       int64
 capital-loss       int64
 hours-per-week     int64
 native-country    object
 salary            object
dtype: object

In [52]:
target_variable = 'salary'
print(f"TARGET VARIABLE -> {target_variable}")

integer_variable_list = [c.strip() for c in data.columns if data[c].dtype == 'int64']
print(f"INTEGER VARIABLES-> {integer_variable_list}")

categorical_variable_list = [c.strip() for c in data.columns if data[c].dtype == 'object' and c.strip() != target_variable]
print(f"CATEGORICAL VARIABLES -> {categorical_variable_list}")

TARGET VARIABLE -> salary
INTEGER VARIABLES-> ['age', 'fnlgt', 'education-num', 'capital-gain', 'capital-loss', 'hours-per-week']
CATEGORICAL VARIABLES -> ['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'native-country']

*REMOVING TRAILING WHITESPACE*

In [9]:
data.columns = [c.strip() for c in data.columns]
data['native-country'].unique().tolist()

                            feature n_samples precision recall fbeta
 United-States                  NaN       NaN       NaN    NaN   NaN
 Cuba                           NaN       NaN       NaN    NaN   NaN
 Jamaica                        NaN       NaN       NaN    NaN   NaN
 India                          NaN       NaN       NaN    NaN   NaN
 ?                              NaN       NaN       NaN    NaN   NaN
 Mexico                         NaN       NaN       NaN    NaN   NaN
 South                          NaN       NaN       NaN    NaN   NaN
 Puerto-Rico                    NaN       NaN       NaN    NaN   NaN
 Honduras                       NaN       NaN       NaN    NaN   NaN
 England                        NaN       NaN       NaN    NaN   NaN
 Canada                         NaN       NaN       NaN    NaN   NaN
 Germany                        NaN       NaN       NaN    NaN   NaN
 Iran                           NaN       NaN       NaN    NaN   NaN
 Philippines                    NaN       NaN       NaN    NaN   NaN
 Italy                          NaN       NaN       NaN    NaN   NaN
 Poland                         NaN       NaN       NaN    NaN   NaN
 Columbia                       NaN       NaN       NaN    NaN   NaN
 Cambodia                       NaN       NaN       NaN    NaN   NaN
 Thailand                       NaN       NaN       NaN    NaN   NaN
 Ecuador                        NaN       NaN       NaN    NaN   NaN
 Laos                           NaN       NaN       NaN    NaN   NaN
 Taiwan                         NaN       NaN       NaN    NaN   NaN
 Haiti                          NaN       NaN       NaN    NaN   NaN
 Portugal                       NaN       NaN       NaN    NaN   NaN
 Dominican-Republic             NaN       NaN       NaN    NaN   NaN
 El-Salvador                    NaN       NaN       NaN    NaN   NaN
 France                         NaN       NaN       NaN    NaN   NaN
 Guatemala                      NaN       NaN       NaN    NaN   NaN
 China                          NaN       NaN       NaN    NaN   NaN
 Japan                          NaN       NaN       NaN    NaN   NaN
 Yugoslavia                     NaN       NaN       NaN    NaN   NaN
 Peru                           NaN       NaN       NaN    NaN   NaN
 Outlying-US(Guam-USVI-etc)     NaN       NaN       NaN    NaN   NaN
 Scotland                       NaN       NaN       NaN    NaN   NaN
 Trinadad&Tobago                NaN       NaN       NaN    NaN   NaN
 Greece                         NaN       NaN       NaN    NaN   NaN
 Nicaragua                      NaN       NaN       NaN    NaN   NaN
 Vietnam                        NaN       NaN       NaN    NaN   NaN
 Hong                           NaN       NaN       NaN    NaN   NaN
 Ireland                        NaN       NaN       NaN    NaN   NaN
 Hungary                        NaN       NaN       NaN    NaN   NaN
 Holand-Netherlands             NaN       NaN       NaN    NaN   NaN

*SAVING DATA*

In [57]:
data.to_csv('cleaned_data.csv')